Source: lasync
Section: unknown
Priority: extra
Maintainer: root <naughtyboywx@yeah.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/lasync.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lasync.git;a=summary

Package: lasync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
